/*Basic Body Elements... altern. font: Futura, Helvetica, Arial, sans-serif;*/
body *{
  vertical-align: top;
	margin: 0;
	padding: 0;
  font-family: 'Didact Gothic', sans-serif;
}

/*Utilities*/
.container{
  margin: 0 auto;
  width: 960px;
}

/*Header*/
.header{
  background: url('images/headerBackground.png') repeat-x top left;
  text-align: left;
  color: white;
  height: 60px;
}

.header .logo{    
  display: inline-block;
  margin-top: 12px;
}

.header .nav{ 
  display: inline-block;
  margin: 17px 0 0 30px; 
  padding: 0; 
} 

.header .nav li{
  list-style: none; 
  display: inline;
  text-shadow: 0 1px 1px #000;
  margin-right: 35px;
  text-transform: uppercase; 
  font-size: 17px;
}

.header .user-menu{
  display: inline-block;
  float: right;
  padding-top: 10px;
}

.header .user-menu .user-photo{
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  margin: -5px 10px 0 0;
}

.header .user-menu .user-name{  
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
}

.header .user-menu .user-menu{
  display: inline;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-top: -28px;
  margin-left: 5px;
}

.banner{
  text-align: center;
  height: 58px;
  padding: 21px 0 0;
  font-size: 14px;
  background: white;
  color: rgb(50,50,50);
  text-shadow: 0 1px 1px rgb(162,162,162);
  border-bottom: 1px solid rgb(208,208,208);
  box-shadow: 0 0 6px rgb(162,162,162);
}

/*Middle of Page*/
.middle-section {
  background: rgb(238,236,232);
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(208,208,208);
  box-shadow: inset 0px -10px 3px -10px rgb(208,208,208);
}

.event{
  width: 620px;
  display: inline-block;
  position: relative;
}

.picture-header{
  width: 620px;
  height: 50px;
  position: absolute;
  color: white;
  background: rgba(0,0,0,0.3);
  margin-top: 25px;
}

.picheader-left{
margin-left: 15px;
font-size: 20px;
line-height: 55px;
}

.picheader-right{
  float: right;
  padding-right: 20px;
  font-size: 14px;
  line-height: 50px;
}

.picheader-right img{
  padding-top: 13px;
  padding-right: 3px;
}

.picture-main{
  width: 620px;
  height: 400px;
  margin-top: 25px;
}
/*
.message{   
  display: inline-block;
  background: rgb(255,194,2);
  color: white;
  height: 45px;
  width: 140px;
  font-size: 11px;
  margin-top: -22px;
  margin-left: -5px;
  text-align: center
}*/

.picture-footer{
  padding: 25px 0 0 25px;
  color: rgb(50,50,50);
  font-style: italic;
  font-size: 15px;
  background: rgb(197,194,187);
  border-bottom: rgb(228,225,219);
  width: 595px;
  height: 60px;
}

.disclaimer{
  color: rgb(101,101,101);
  font-size: 12px;  
  width: 450px;
  padding-left: 25px;
  margin-top: 8px;
}

.side-bar{
  width: 300px; 
  display: inline-block;
  margin-left: 20px;  
  margin-top: 25px;
}

.stats{
  width: 130px;
  background: rgb(198, 194, 187);
  color: white;
  display: inline-block;
  text-align: center;
  margin-right: 15px; 
}

.stats .number{
  font-size: 65px;
  padding: 20px 0;
  text-shadow: 0 1px 1px rgb(140,144,136);
}

.stats .unit{
  background: rgb(167,158,146);
  height: 25px;
  padding: 5px 0;
  color: rgb(50,50,50); 
  text-shadow: 0 1px 1px rgb(209,204,197);
  text-transform: uppercase;
  font-size: 14px;
}

.join{
  width: 300px;
  height: 300px;
} 

.button{  
  width: 280px;
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  text-shadow: 0 1px 1px rgb(162,84,0);
  border: 1px solid rgb(199,124,0);
  border-radius: 8px;
  background: rgb(255,245,178);
    background: -moz-linear-gradient(top, rgb(255,245,178) 0%, rgb(255,212,7) 1%, rgb(238,148,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,245,178)), color-stop(1%,rgb(255,212,7)), color-stop(100%,rgb(238,148,0)));
    background: -webkit-linear-gradient(top, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    background: -o-linear-gradient(top, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    background: -ms-linear-gradient(top, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    background: linear-gradient(to bottom, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5b2', endColorstr='#ee9400',GradientType=0 );
}

.reward{
  background: white;
  border: 1px solid rgb(166,166,165);
  width: 265px;
  height: 70px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0px -10px 5px -10px rgb(162,162,162);
}

.reward span{
  line-height: 50px;
  font-size: 18px;
  text-shadow: 0 1px 1px rgb(110,110,110);
  display: inline-block;
}

.reward span:nth-child(3){
font-size: 12px;
text-shadow: 0 0 1px rgb(162,162,162);
padding-left: 49px;
margin-top: -42px;
}

.reward img{
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
}

.reward-footer{
  height: 300px;
  width: 250px;
  margin-top: 15px;
  margin-left: 16px;
  text-align: center;
  font-size: 12px;
  color: rgb(173,172,170);
}

.reward-footer span{
  padding-bottom: 15px;  
}

.reward-footer img{
  border-top: 1px solid rgb(162,162,162);
  padding-top: 15px;
  margin-top: 15px;
  margin-left: -23px;
}

/*Start of Upcoming Events*/
.upcoming-events{
  display: inline-block;
  padding-top: 35px;
  background: white;
  border-bottom: 1px solid rgb(162,162,162);
  height: 275px;
}

.jcrew, .ruth, .twisted-sister{
  display: inline-block;
}

.jcrew{
  padding-left: none;
}

.ruth, .twisted-sister{
  padding-left: 15px;
} 

.sub-right, .sub-left{
  display: inline-block;
}

.sub-left{
  text-align: left;  
}

.sub-left span{
  font-size: 11px;
  color: rgb(101,101,101);
  text-shadow: none;
}

.sub-right{
  float: right;
}

.sub-right img{
  padding-left: 15px;
}

.sub-right time{  
  font-size: 12px;
}

/*Start of Upcoming Mob*/
.upcoming-mob h1{
  color: rgb(50,50,50);
  font-size: 25px;
}

.table{
  padding-top: 25px;  
}

.table tr td{
  padding-left: 15px;
  border-spacing: 0.5rem;
  border-bottom: 1px solid black;
}












