/*Basic body elements*/
body *{
  vertical-align: top;
	margin: 0;
	padding: 0;
  font-family: 'Didact Gothic', sans-serif;
}

h1{
  margin:0;
}

/*Utilities*/
.wrapper {
  margin: 0 auto;
  width: 960px;
}

/*Header*/
.header{
  background: url('images/headerBackground.png') repeat-x top left;
  text-align: left;
  color: white;
  height: 60px;
}

.header .logo {    
  display: inline-block;
  margin-top: 12px;
}

.header .nav { 
  display: inline-block;
  margin: 17px 0 0 38px; 
  padding: 0; 
} 

.header .nav li{
  list-style: none; 
  display: inline;
  text-shadow: 0 1px 1px #000;
  margin-right: 40px;
  text-transform: uppercase; 
  font-size: 17px;
}

.header .user-menu{
  display: inline-block;
  float: right;
  padding-top: 10px;
}

.header .user-menu .headShot{
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  margin: -5px 10px 0 0;
}

.header .user-menu .user-name{  
  display: inline-block;
  margin-top: 10px;
}

.header .user-menu .user-menu{
  display: inline;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-top: -28px;
  margin-left: 5px;
}

.banner{
  text-align: center;
  height: 58px;
  padding: 21px 0 0;
  font-size: 14px;
  background: white;
  color: rgb(50,50,50);
  text-shadow: 0 1px 1px rgb(162,162,162);
  border-bottom: 1px solid rgb(208,208,208);
  box-shadow: 0 0 6px rgb(162,162,162);
}

.container {
  margin: 0 auto;
  width: 960px;
}

.middle-section {
  background: rgb(239,236,231);
}

.event {
  width: 620px;
  display: inline-block;
}

.side-bar {
  width: 300px; 
  display: inline-block;
  margin-left: 20px;  
  margin-top: 25px;
}

.mob-scene {
  width: 620px;
  height: 400px;
  margin-top: 25px;
}
/*
.message{   
  display: inline-block;
  background: rgb(255,194,2);
  color: white;
  height: 45px;
  width: 140px;
  font-size: 11px;
  margin-top: -22px;
  margin-left: -5px;
  text-align: center
}*/

.image-footer{
  padding-left: 25px;
  margin-top: -10px;
  color: rgb(42,42,42);
  font-style: italic;
  width: 620px;
}

.image-footer p{
  color: darkgrey;
  font-size: 12px;  
  width: 450px;
  padding-left: 25px;
}

.stats{
  width: 130px;
  background: rgb(198, 194, 187);
  color: white;
  display: inline-block;
  text-align: center;
  margin-right: 15px; 
}

.stats .number{
  font-size: 65px;
  padding: 20px 0;
  text-shadow: 0 1px 1px rgb(140,144,136);
}

.stats .unit{
  background: rgb(167,158,146);
  height: 25px;
  padding: 5px 0;
  color: rgb(50,50,50); 
  text-shadow: 0 1px 1px rgb(209,204,197);
  text-transform: uppercase;
  font-size: 14px;
}

.join{
  width: 300px;
  height: 300px;
} 

.button{  
  width: 280px;
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  text-shadow: 0 1px 1px rgb(162,84,0);
  border: 1px solid rgb(199,124,0);
  border-radius: 8px;
  background: rgb(255,205,7);
    background: -moz-linear-gradient(top, rgb(255,205,7) 0%, rgb(238,148,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,205,7)), color-stop(100%,rgb(238,148,0)));
    background: -webkit-linear-gradient(top, rgb(255,205,7) 0%,rgb(238,148,0) 100%);
    background: -o-linear-gradient(top, rgb(255,205,7) 0%,rgb(238,148,0) 100%);
    background: -ms-linear-gradient(top, rgb(255,205,7) 0%,rgb(238,148,0) 100%);
    background: linear-gradient(to bottom, rgb(255,205,7) 0%,rgb(238,148,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd07', endColorstr='#ee9400',GradientType=0 );
}

.reward{
  background: white;
  border: 1px solid rgb(166,166,165);
  width: 265px;
  height: 85px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 0 0 8px 8px;
}

.reward span{
  line-height: 59px;
  font-size: 18px;
  text-shadow: 0 1px 1px rgb(110,110,110);
  display: inline-block;
}

.reward span:nth-child(3){
font-size: 12px;
text-shadow: 0 0 1px rgb(162,162,162);
padding-left: 65px;
margin-top: -45px;
}

.reward img{
  width: 50px;
  height: 50px;
  padding-top: 15px;
  padding-left: 10px;
  display: inline;
}

/*
.advertising{
  display: inline-block;
}

.advert img{
  width: 300px;
  margin-top: 20px
}

.advert h3{
  font-size: 12px;
  margin-top: 5px;  
  margin-bottom: 4px;
}

.advert p{
  display: inline-block;
  font-size: 10px;
  color: gray;
}
*/






















