/*Basic Body Elements... altern. font: Futura, Helvetica, Arial, sans-serif;*/
body *{
  vertical-align: top;
	margin: 0;
	padding: 0;
  font-family: 'Didact Gothic', sans-serif;
}

/*Utilities*/
.container{
  margin: 0 auto;
  width: 960px;
}

/*Header*/
.header{
  background: url('images/headerBackground.png') repeat-x top left;
  text-align: left;
  color: white;
  height: 60px;
}

.header .logo{    
  display: inline-block;
  margin-top: 12px;
}

.header .nav{ 
  display: inline-block;
  margin: 17px 0 0 30px; 
  padding: 0; 
} 

.header .nav li{
  list-style: none; 
  display: inline;
  text-shadow: 0 1px 1px #000;
  margin-right: 35px;
  text-transform: uppercase; 
  font-size: 17px;
}

.header .user-menu{
  display: inline-block;
  float: right;
  padding-top: 10px;
}

.header .user-menu .user-photo{
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  margin: -5px 10px 0 0;
}

.header .user-menu .user-name{  
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
}

.header .user-menu .user-menu{
  display: inline;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-top: -28px;
  margin-left: 5px;
}

.banner{
  text-align: center;
  height: 58px;
  padding: 21px 0 0;
  font-size: 14px;
  background: white;
  color: rgb(50,50,50);
  text-shadow: 0 1px 1px rgb(162,162,162);
  border-bottom: 1px solid rgb(208,208,208);
  box-shadow: 0 0 6px rgb(162,162,162);
}

/*Middle of Page*/
.middle-section {
  background: rgb(238,236,232);
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(208,208,208);
  box-shadow: inset 0px -10px 3px -10px rgb(208,208,208);
}

.event{
  width: 620px;
  display: inline-block;
  position: relative;
}

.picture-header{
  width: 620px;
  height: 50px;
  position: absolute;
  color: white;
  background: rgba(0,0,0,0.3);
  margin-top: 25px;
}

.picheader-left{
margin-left: 15px;
font-size: 20px;
font-weight: bold;
line-height: 55px;
}

.picheader-right{
  float: right;
  padding-right: 20px;
  font-size: 14px;
  line-height: 50px;
}

.picheader-right img{
  padding-top: 13px;
  padding-right: 3px;
}

.picture-main{
  width: 620px;
  height: 400px;
  margin-top: 25px;
}
/*
.message{   
  display: inline-block;
  background: rgb(255,194,2);
  color: white;
  height: 45px;
  width: 140px;
  font-size: 11px;
  margin-top: -22px;
  margin-left: -5px;
  text-align: center
}*/

.picture-footer{
  padding: 25px 0 0 25px;
  color: rgb(50,50,50);
  font-style: italic;
  font-size: 15px;
  background: rgb(197,194,187);
  border-bottom: rgb(228,225,219);
  width: 595px;
  height: 60px;
}

.disclaimer{
  color: rgb(101,101,101);
  font-size: 12px;  
  width: 450px;
  padding-left: 25px;
  margin-top: 8px;
}

.side-bar{
  width: 300px; 
  display: inline-block;
  margin-left: 20px;  
  margin-top: 25px;
}

.stats{
  width: 130px;
  background: rgb(198, 194, 187);
  color: white;
  display: inline-block;
  text-align: center;
  margin-right: 15px; 
}

.stats .number{
  font-size: 65px;
  padding: 20px 0;
  text-shadow: 0 1px 1px rgb(140,144,136);
}

.stats .unit{
  background: rgb(167,158,146);
  height: 25px;
  padding: 5px 0;
  color: rgb(50,50,50); 
  text-shadow: 0 1px 1px rgb(209,204,197);
  text-transform: uppercase;
  font-size: 14px;
}

.join{
  width: 300px;
  height: 300px;
} 

.button-join{  
  width: 280px;
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  text-shadow: 0 1px 1px rgb(162,84,0);
  border: 1px solid rgb(199,124,0);
  border-radius: 8px;
  /*How can I layer box shadow over .reward?*/
  box-shadow: inset 0px 1px 1px white, 
                    0px 3px 2px rgb(203,213,232);
  background: rgb(255,245,178);
    background: -moz-linear-gradient(top, rgb(255,245,178) 0%, rgb(255,212,7) 1%, rgb(238,148,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,245,178)), color-stop(1%,rgb(255,212,7)), color-stop(100%,rgb(238,148,0)));
    background: -webkit-linear-gradient(top, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    background: -o-linear-gradient(top, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    background: -ms-linear-gradient(top, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    background: linear-gradient(to bottom, rgb(255,245,178) 0%,rgb(255,212,7) 1%,rgb(238,148,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5b2', endColorstr='#ee9400',GradientType=0 );
}

.reward{
  background: white;
  border: 1px solid rgb(166,166,165);
  width: 265px;
  height: 70px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0px -10px 5px -10px rgb(162,162,162);
}

.reward span{
  color: rgb(50,50,50);
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.reward span:nth-child(3){
font-size: 12px;
font-weight: none;
padding-left: 49px;
margin-top: -42px;
}

.reward img{
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
}

.reward-footer{
  height: 300px;
  width: 250px;
  margin-top: 15px;
  margin-left: 16px;
  text-align: center;
  font-size: 12px;
  color: rgb(173,172,170);
}

.reward-footer span{
  padding-bottom: 15px;  
}

.reward-footer img{
  border-top: 1px solid rgb(162,162,162);
  padding-top: 15px;
  margin-top: 15px;
  margin-left: -23px;
}

/*Start of Upcoming Events*/
.upcoming-events{
  display: inline-block;
  padding-top: 35px;
  background: white;
  border-bottom: 1px solid rgb(162,162,162);
  height: 285px;
}

.jcrew, .ruth, .twisted-sister{
  display: inline-block;
}

.jcrew{
  padding-left: none;
}

.ruth, .twisted-sister{
  padding-left: 15px;
} 

.sub-right, .sub-left{
  display: inline-block;
}

.sub-left{
  text-align: left;  
}

.sub-left{
  color: rgb(50,50,50);
}

.sub-left span{
  font-size: 11px;
  color: rgb(101,101,101);
  text-shadow: none;
}

.sub-right{
  float: right;
}

.sub-right img{
  padding-left: 15px;
}

.sub-right time{  
  font-size: 12px;
  color: rgb(119,119,119);
}

/*Start of Upcoming Mobs*/
.upcoming-mobs{
  margin: 15px 0 60px 0;
  display: inline-block;
}

.upcoming-left{
  display: inline-block;
}

.upcoming-left h2{
  color: rgb(50,50,50);
}

.table{
  margin-top: 24px;  
}

.table tr td{
  width: 205px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid rgb(162,162,162);
}

.host-location{
  font-weight: bold;
  font-size: 14px;
  color: rgb(50,50,50);
  text-align: left;
}

.mobbers-needed{
  color: rgb(50,50,50); 
  text-align: right;
  font-size: 13px
}

.mob-date{
  color: rgb(101,101,101);
  text-align: right;
  font-size: 13px;
}

.start-mob{
  display: inline-block;
  margin: 6px 0 0 20px;
  background: rgb(197,194,187);
  width: 300px;
  height: 210px;
}

.start-mob h2{
  color: rgb(255,255,255);
  text-align: center;
  margin-top: 15px;
  text-shadow: 0 1px 1px rgb(126,124,121);
}

.get-started{
  display: inline-block;
  margin: 10px 0 0 28px;
}

.circle-1, .circle-2, .circle-3{
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(95,95,95);
  border: 1px solid rgb(138,135,132);
  box-shadow: inset 1px 2px 1px white, 
              1px 1px 2px rgb(165,161,156);
  background: rgb(202,202,202);
    background: -moz-linear-gradient(top,  rgb(202,202,202) 0%, rgb(251,251,251) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(202,202,202)), color-stop(100%,rgb(251,251,251)));
    background: -webkit-linear-gradient(top,  rgb(202,202,202) 0%,rgb(251,251,251) 100%);
    background: -o-linear-gradient(top,  rgb(202,202,202) 0%,rgb(251,251,251) 100%);
    background: -ms-linear-gradient(top,  rgb(202,202,202) 0%,rgb(251,251,251) 100%);
    background: linear-gradient(to bottom,  rgb(202,202,202) 0%,rgb(251,251,251) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#fbfbfb',GradientType=0 );
}

.connection{
  display: inline-block;
  width: 65px;
  height: 7px;
  margin: 16px -4px 0 -3px;
  background: rgb(175,173,166);
}

.instructions{
  display: inline-block;
  margin: 5px 0 10px 0;
  font-size: 12px;
  color: rgb(50,50,50);
  text-align: center;
}

.upload-image, .write-message, .upload-reward{
  display: inline-block;
  width: 98px;
}

.button-start{
  width: 275px;
  height: 60px;
  margin-left: 10px;
  line-height: 58px;
  text-shadow: 0px 1px 1px white;
  border-radius: 5px;
  color: rgb(0,122,167);
  text-align: center;
  font-size: 24px;
  border: 1px solid rgb(125,123,120);
  box-shadow: inset 0 1px 1px white, 
              inset 1px -1px 0 rgb(175,171,164);
  background: rgb(225,224,220);
    background: -moz-linear-gradient(top,  rgb(225,224,220) 0%, rgb(198,194,187) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(225,224,220)), color-stop(100%,rgb(198,194,187)));
    background: -webkit-linear-gradient(top,  rgb(225,224,220) 0%,rgb(198,194,187) 100%);
    background: -o-linear-gradient(top,  rgb(225,224,220) 0%,rgb(198,194,187) 100%);
    background: -ms-linear-gradient(top,  rgb(225,224,220) 0%,rgb(198,194,187) 100%);
    background: linear-gradient(to bottom,  rgb(225,224,220) 0%,rgb(198,194,187) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e0dc', endColorstr='#c6c2bb',GradientType=0 );

}

.bottom{
  background: rgb(66,65,65);
}

.categories{
  display: inline-block;
  margin-top: 23px;
}

.column-left, .column-right{
  display: inline-block;
  width: 150px;
}

.categories h3{
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px rgb(37,36,36);
  margin-bottom: 5px;
}

.column-right{
  margin-left: 10px;
}

.button-category{
  width: 140px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  color: white;
  text-align: center;
  background: rgb(80,80,79);
  font-size: 14px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgb(60,60,59);
  border: 1px solid rgb(43,43,43);
  box-shadow: inset 0 1px 2px rgb(118,118,117),
                    0 1px 0 rgb(68,67,66);
}

.connect{
  width: 225px;
  display: inline-block;
  color: white;
  margin-top: 23px;
  margin-left: 90px;
}

.connect h3{
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgb(37,36,36);
}

.connect p{
  font-size: 12px;
  color: rgb(189,189,189);
  text-shadow: 0 1px 1px rgb(107,107,108);
}

.email{
  display: inline-block;
  margin-top: 18px;
}

.email-input, .email-go{
  display: inline;
  height: 42px;
}

.email-input{
  width: 162px;
  padding-left: 10px;
  font-size: 14px;
}

.social-media{
  margin-top: 23px;
  font-size: 14px;
  color: rgb(200,200,200);
  text-shadow: 0 1px 1px rgb(31,30,30);
}

.facebook, .twitter{
  padding-bottom: 3px;
  border-bottom: 1px solid  rgb( 42,42,42);

}

/*.email-go{
  background-color: rgb(139,139,139);
  float: right;
  background-image: url('images/checkmark.png') norepeat center center;
}*/

.footer{
  display: inline-block;
  width: 200px;
}
